<html>
    <head>
        <h1>Member Trees</h1>
    </head>
    
    <body>
        <p id="notice"><%= notice %></p>
        <div class="column-left">
            <%= react_component('TreeMenuBar') %>
            <%= link_to 'Landing Page', root_path %>
        </div>
        <div class="column-right">
            <div id="Tree">
                <%= react_component('TreeComponent') %>
            </div>
        </div>
    </body>

</html>